.downArrow {
    position: absolute;
    bottom: 2rem;
    right: 50vw;

    img {
        width: 3.5rem;
        animation: arrowBlink 2s infinite;
    }

    @keyframes arrowBlink {
        100% {
            opacity: 0;
        }
    }
}