@import "../../global.scss";

.contact {
    display: flex;
    // background-color: rgb(29, 192, 192);
    background-color: #e6e6e6;

    .left {
        flex: 1;
        overflow: hidden;

        img {
            height: 100%;
        }
    }

    .right {
        flex: 1;
        @include flexCenter();
        flex-direction: column;
        align-self: center;
        height: 80%;

        h2 {
            // font-size: 2rem;
        }

        form {
            @include flexCenter();
            flex-direction: column;
            justify-content: space-around;
            width: 70%;
            height: 70%;

            input {
                width: 30rem;
                height: 4rem;
                font-size: 1.5rem;
                // border: 1px solid ;
            }

            textarea {
                width: 35rem;
                height: 25rem;
                font-size: 1.5rem;
                padding: 1rem;
            }

            button {
                width: 13rem;
                height: 3.5rem;
                font-size: 1.8rem;
                letter-spacing: .2rem;
                color: #ffffff;
                background-color: $mainColor;
                border: none;
                border-radius: 1rem;
                cursor: pointer;
                transition: all .7s ease;

                &:focus {
                    outline: none;
                }

                @include bgHover();

            }

            span {
                color: rgb(12, 173, 85);
            }

        }
    }
}