
@import "../../global.scss";

.works {
    position: relative;
    background-color: #084a9f;
    @include flexCenter();

    .arrow {
        position: absolute;
        height: 6rem;
        cursor: pointer;

        @include mobile {
            display: none;
        }

        &.left {
            left: 10rem;
            transform: rotateY(180deg);
        }

        &.right {
            right: 10rem;
        }
    }

    .slider {
        position: absolute;
        left: 0;
        display: flex;
        height: 40rem;
        transition: all 1s ease-out;

        @include mobile {
            flex-direction: column;
            justify-content: space-evenly;
            width: 80vh;
            height: 80vh;
        }

        .container {
            width: 100vw;
            @include flexCenter();

            .item {
                width: 70rem;
                height: 100%;
                background-color: #ffffff;
                border-radius: 2rem;
                @include flexCenter();

                @include mobile {
                    width: 80vw;
                    height: 13rem;
                }

                .left {
                    flex: 4;
                    height: 90%;
                    @include flexCenter();

                    @include mobile {
                        flex: 14;
                        overflow: hidden;
                    }

                    .leftContainer {
                        width: 90%;
                        height: 80%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        @include mobile {

                        }

                        .imgContainer {
                            width: 4rem;
                            height: 4rem;
                            border-radius: 50%;
                            background-color: #aacfff;
                            @include flexCenter();

                            @include mobile {
                                width: 20px;
                                height: 20px;
                            }
                
                            img {
                                width: 60%;
                                height: fit-content;
                            }
                        }

                        h2 {
                            @include mobile {
                                font-size: 1.5rem;   
                                overflow: hidden;
                            }
                        }

                        p {
                            @include mobile {
                                font-size: 1rem;   
                                overflow: hidden;
                            }
                        }

                        span {
                            font-size: 1.4rem;
                            font-weight: 700;
                            text-decoration: underline;
                            cursor: pointer;

                            @include mobile {
                                font-size: 1rem;   
                                overflow: hidden;
                            }
                        }
                    }
                }
                
                .right {
                    flex: 8;
                    height: 100%;
                    @include flexCenter();
                    overflow: hidden;

                    img {
                        height: 100%;
                        transform: rotate(-10deg);

                        @include mobile {
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}