.works {
  position: relative;
  background-color: #084a9f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works .arrow {
  position: absolute;
  height: 6rem;
  cursor: pointer;
}

.works .arrow.left {
  left: 10rem;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.works .arrow.right {
  right: 10rem;
}

.works .slider {
  position: absolute;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40rem;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.works .slider .container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works .slider .container .item {
  width: 70rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works .slider .container .item .left {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works .slider .container .item .left .leftContainer {
  width: 90%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works .slider .container .item .left .leftContainer .imgContainer {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #ed01c6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works .slider .container .item .left .leftContainer .imgContainer img {
  width: 60%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.works .slider .container .item .left .leftContainer span {
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

.works .slider .container .item .right {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.works .slider .container .item .right img {
  height: 100%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
/*# sourceMappingURL=works.css.map */