
$mainColor: #7789ff;

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin colorHover() {
    &:hover {
        color: #c658ff;
    }
}

@mixin bgHover() {
    &:hover {
        background-color: #c658ff;
    }
}

$width: 768px;

@mixin mobile {
    @media (max-width: #{$width}) {
        @content
    }
}
