
$mainColor: #7789ff;
$secondaryColor: #c658ff;
$tertiaryColor: #da75ce;

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin colorHover() {
    &:hover {
        color: $secondaryColor;
    }
}

@mixin bgHover() {
    &:hover {
        background-color: $secondaryColor;
    }
}

$width: 768px;

@mixin mobile {
    @media (max-width: #{$width}) {
        @content
    }
}
