@import "global.scss";

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  overflow-x: hidden;
  box-sizing: inherit;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: normal;
  
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 7rem;
  font-weight: 500;

  @include mobile {
    font-size: 4rem;
  }
}

h2 {
  font-size: 4.5rem;
  color: #cc51ff;

  @include mobile {
    font-size: 3.2rem;
  }
}

h3 {
  font-size: 3.5rem;

  @include mobile {
    font-size: 3rem;
  }
}

h4 {
  font-size: 2rem;
}

p, span {
  font-size: 1.8rem;

}




